.commentItem-wrapper, .replyItem-wrapper {
    display: flex;
    flex-direction: column;
    width: 50vw;
    background-color: lightgrey;
    padding: 15px;
    border-radius: 4px;
}

.replyItem-wrapper {
    margin-left: 3%;
}

.header-value {
    font-weight: 600;
}

input, textarea {
    width: 40vw;
    padding: 16px;
    margin: 1%;
    background-color: white;
    border: none;
    outline: none;
}

.post-btn {
    align-self: flex-end;
}

button {
    margin-top: 2%;
    width: 6vw;
    align-self: flex-end;
    background: deepskyblue;
    color: white;
    border: none;
    padding: 8px;
    margin-right: 3%;
}

.edit-controls {
    display: flex;
}

.reply-saved-mode, .comment-saved-mode {
    width: 50vw;
    margin: 1%;
    background-color: lightgrey;
    padding: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 3%;
    border-radius: 4px;
}

.comment-saved-mode {
    margin: 1% 0 1% 0;
}

.comment-values {
    display: flex;
    flex-direction: column;
}

.comment-values  p, .comment-values  button {
    margin: 2% 2% 2% 0;
}

.input-value {
    font-weight: 600;
}

.delete-btn {
    width: 9vw;
    position: absolute;
    right: -4%;
    top: 35%;
    margin: 0%;
}