.commentItem-wrapper {
    display: flex;
    flex-direction: column;
    width: 60vw;
    background-color: gray;
}

input, textarea {
    width: 55vw;
    padding: 10px;
    background-color: white;
}

.post-btn {
    align-self: flex-end;
}

button {
    width: 5vw;
}

.edit-controls {
    display: flex;
}

.commentItem-saved-mode {
    width: 60vw;
    margin: 1%;
    background-color: gray;
}

.comment-values {
    display: flex;
    flex-direction: column;
}